In [ ]:
pip install PyMuPDF

Collecting PyMuPDF
  Downloading PyMuPDF-1.24.1-cp310-none-manylinux2014_x86_64.whl (3.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 13.4 MB/s eta 0:00:00
Collecting PyMuPDFb==1.24.1 (from PyMuPDF)
  Downloading PyMuPDFb-1.24.1-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (30.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.8/30.8 MB 26.5 MB/s eta 0:00:00
Installing collected packages: PyMuPDFb, PyMuPDF
Successfully installed PyMuPDF-1.24.1 PyMuPDFb-1.24.1

In [ ]:
import fitz
import pandas as pd
import numpy as np

In [ ]:
EB_indi_doc=fitz.open('/content/EB_indi.pdf')

In [ ]:
print(EB_indi_doc.page_count)

386

In [ ]:
EB_indi_doc[0].find_tables().tables[0].to_pandas()

,Sr No.,Reference No (URN),Journal Date,Date of\nPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\nNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",00001,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",00001,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",00001,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",00001,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",00001,5899230,Paid
5,6,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1112,"1,00,000",00001,5899230,Paid
6,7,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1115,"1,00,000",00001,5899230,Paid
7,8,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1119,"1,00,000",00001,5899230,Paid
8,9,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1110,"1,00,000",00001,5899230,Paid
9,10,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1111,"1,00,000",00001,5899230,Paid
10,11,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1106,"1,00,000",00001,5899230,Paid
11,12,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1114,"1,00,000",00001,5899230,Paid
12,13,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1117,"1,00,000",00001,5899230,Paid
13,14,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,TL,11556,"10,00,000",00001,5899230,Paid
14,15,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,TL,11555,"10,00,000",00001,5899230,Paid
15,16,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1125,"1,00,000",00001,5899230,Paid
16,17,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1129,"1,00,000",00001,5899230,Paid
17,18,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1124,"1,00,000",00001,5899230,Paid
18,19,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1128,"1,00,000",00001,5899230,Paid
19,20,00001201904120000001178,12/Apr/2019,12/Apr/2019,26/Apr/2019,ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED,OL,1126,"1,00,000",00001,5899230,Paid
20,21,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11551,"10,00,000",00001,5899230,Paid
21,22,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11554,"10,00,000",00001,5899230,Paid
22,23,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11553,"10,00,000",00001,5899230,Paid
23,24,00001201904120000001177,12/Apr/2019,12/Apr/2019,26/Apr/2019,ARIHANT ENTERPRISES,TL,11552,"10,00,000",00001,5899230,Paid
24,25,00300201904120000001173,12/Apr/2019,12/Apr/2019,26/Apr/2019,CHOUDHARY GARMENTS,TL,12904,"10,00,000",00300,4180496,Paid
25,26,00300201904120000001173,12/Apr/2019,12/Apr/2019,26/Apr/2019,CHOUDHARY GARMENTS,TL,12902,"10,00,000",00300,4180496,Paid
26,27,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6297,"1,00,00,000",00001,5899230,Paid
27,28,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6275,"1,00,00,000",00001,5899230,Paid
28,29,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6261,"1,00,00,000",00001,5899230,Paid
29,30,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6278,"1,00,00,000",00001,5899230,Paid
30,31,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6262,"1,00,00,000",00001,5899230,Paid
31,32,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6274,"1,00,00,000",00001,5899230,Paid
32,33,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6257,"1,00,00,000",00001,5899230,Paid
33,34,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6273,"1,00,00,000",00001,5899230,Paid
34,35,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6272,"1,00,00,000",00001,5899230,Paid
35,36,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6280,"1,00,00,000",00001,5899230,Paid
36,37,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6251,"1,00,00,000",00001,5899230,Paid
37,38,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,4597,"1,00,00,000",00001,5899230,Paid
38,39,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6279,"1,00,00,000",00001,5899230,Paid
39,40,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6296,"1,00,00,000",00001,5899230,Paid
40,41,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6256,"1,00,00,000",00001,5899230,Paid
41,42,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6286,"1,00,00,000",00001,5899230,Paid
42,43,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6298,"1,00,00,000",00001,5899230,Paid
43,44,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6267,"1,00,00,000",00001,5899230,Paid
44,45,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,4632,"1,00,00,000",00001,5899230,Paid
45,46,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6284,"1,00,00,000",00001,5899230,Paid
46,47,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6254,"1,00,00,000",00001,5899230,Paid
47,48,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6292,"1,00,00,000",00001,5899230,Paid
48,49,00001201904120000001165,12/Apr/2019,12/Apr/2019,26/Apr/2019,ESSEL MINING AND INDS LTD,OC,6268,"1,00,00,000",00001,5899230,Paid

In [ ]:
len(EB_indi_doc[48].find_tables().tables)

1

In [ ]:
df=EB_indi_doc[0].find_tables().tables[0].to_pandas()
for i in range(1,EB_indi_doc.page_count):
  df_new=EB_indi_doc[i].find_tables().tables[0].to_pandas()
  df = pd.concat([df, df_new], ignore_index=True)

In [ ]:
df

,Sr No.,Reference No (URN),Journal Date,Date of\nPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\nNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",00001,5899230,Paid
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",00001,5899230,Paid
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",00001,5899230,Paid
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",00001,5899230,Paid
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",00001,5899230,Paid
...,...,...,...,...,...,...,...,...,...,...,...,...
18866,18867,00001202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15695,"1,00,00,000",00001,5898161,Paid
18867,18868,00001202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15693,"1,00,00,000",00001,5898161,Paid
18868,18869,00001202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15697,"1,00,00,000",00001,5898161,Paid
18869,18870,00001202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,17803,"1,00,00,000",00001,5898161,Paid
18870,18871,00001202401110000003729,11/Jan/2024,11/Jan/2024,25/Jan/2024,WESTWELL GASES PRIVATE LIMITED,OC,15691,"1,00,00,000",00001,5898161,Paid

In [ ]:
duplicate_rows = df[df.duplicated()]

In [ ]:
print(duplicate_rows)

Empty DataFrame
Columns: [Sr No., Reference No (URN), Journal Date, Date of
Purchase, Date of Expiry, Name of the Purchaser, Prefix, Bond
Number, Denominations, Issue Branch Code, Issue Teller, Status]
Index: []

In [ ]:
df.to_csv('EB_indi_csv.csv', index=False)

pp

In [ ]:
EB_pp_doc=fitz.open('/content/EB_pp.pdf')

In [ ]:
df_pp=EB_pp_doc[0].find_tables().tables[0].to_pandas()
for i in range(1,EB_pp_doc.page_count):
  df_new_pp=EB_pp_doc[i].find_tables().tables[0].to_pandas()
  df_pp = pd.concat([df_pp, df_new_pp], ignore_index=True)

In [ ]:
df_pp.to_csv('EB_pp_csv.csv', index=False)